.pageContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    position: relative;
}

.header {
    display: flex;
    background-color: papayawhip;
    padding: 10px;
    height: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;    
}

.main nav {
    background-color: lightgray;
}

@keyframes elementTarget {
    from {
        background-color: orange;
    }
    to {
        background-color: unset;
    }
}

.main:target {
    animation: elementTarget 1s;
}

.mainContent {
    display: flex;    
    flex-direction: column;
    height: 100%; 
    overflow-y: auto;   
}

.footer {
    display: flex;
    flex-shrink: 0;    
    height: 60px;
    background-color: aliceblue;
    padding: 10px;
}

.footer:target {
    animation: elementTarget 1s;
}

.skipContentContainer {
    position: absolute;
    transform: translateY(-1000%);
}

.skipContentContainer:focus {
    display: flex;    
    transform: translateY(1000%);
}

.skipContentItem {
    position: absolute;
    transform: translateY(-1000%);
}

.skipContentItem:focus {
    transform: translateY(0%);
    border: 4px solid orange;
    border-radius: 10px;
    margin: 0 4px;
    padding: 10px;
    z-index: 1000;
    background-color: lightblue;
}

.menuButton {
    padding: 20px;
    border-radius: unset;
    border: unset;
    outline: unset; /*FIX_THIS*/
    background-color: lightgray;
}

.pull-right {
    float: right;
  }

.btn-search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    width: 100px;
    height: 40px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
}

.btn-search:focus {
    outline: unset; /*FIX_THIS*/
}